html, body {
    margin: 0;
}

.layout {
    display: grid;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 10px 15px;
    width: 80%;
    margin: auto;
}

.content {
    background-color: aqua;
    text-align: center;
    padding: 60px 0 60px 0;
}

#spotlight {
    grid-column: 1/-1;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar-item {
    display: inline;
    font-size: 1.5em;
    color: white;
    margin: 0 10px 0 10px;
}

header {
    height: 70vh;
    margin-bottom: 30px;
    background-image: url(images/joao-silas-UGQoo2nznz8-unsplash.jpg);
    background-position: center;
    background-size: cover;
}

footer {
    height: 200px;
    margin-top: 20px;
    background-color: darkgray;
}

#title {
    text-align: center;
    color:white;
    font-size: 86px;
    margin-top: 250px;
}