html, body {
    margin: 0;
}

.layout {
    display: grid;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.content {
    background-color: aqua;
    height: 200px;
    width: 200px;
}

.navbar {
    display: flex;
    justify-content: center;
}

.navbar-item {
    display: inline;
    font-size: 1.5em;
    color: white;
    margin: 0 10px 0 10px;
}

header {
    height: 70vh;
    margin-bottom: 30px;
    background-image: url(images/joao-silas-UGQoo2nznz8-unsplash.jpg);
    background-position: center;
    background-size: cover;
}